# Este archivo es un ejemplo de cómo deberías crear el ".env" en la raiz del proyecto para que la app funcione correctamente.
PORT=3000
DB_URL=mongodb+srv://<user>:<password>@templatecluster.******.mongodb.net/formacion_node_express?appName=templatecluster
DB_URL2=mongodb://<user>:<password>@ac-glh5u5-shard-00-00.******.mongodb.net:27017,ac-glh5u5-shard-00-01.******.mongodb.net:27017,ac-glh5u5-shard-00-02.******.mongodb.net:27017/formacion_node_express?ssl=true&replicaSet=atlas-znjprn-shard-0&authSource=admin
DB_URL_LOCAL=mongodb://localhost:27017/formacion_node_express